@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script);

.border {
	font-size: 1.6rem;
	display: grid;
	place-items: center;
	min-height: 200px;
	border: 10px solid;
	padding: 1rem;
}

.full-withradius {
  font-family: 'Dancing Script';
  font-size: 100px;
	position: relative;
	background: linear-gradient(180deg, turquoise, greenyellow);

	/*The background extends to the outside edge of the padding. No background is drawn beneath the border.*/
	background-clip: padding-box;

	border: solid 8px;
	border-radius: 1rem;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
		margin: -8px; /* same as border width */
		border-radius: inherit; /* inherit container box's radius */
		background: linear-gradient(to left, turquoise, greenyellow);
	}
    }

body{
  background-color: lightblue;
}
.linear-repeating {
 
  border-width: 15px; 
  border-radius: 2rem;
	border-image: repeating-linear-gradient(45deg, orange, purple 4%) 8;s
  

.full-withradius {
	position: relative;
	background: #fff;
  
	/*The background extends to the outside edge of the padding. No background is drawn beneath the border.*/
	background-clip: padding-box;

	border: solid 8px transparent;
	border-radius: 0.8rem;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
		margin: -8px; /* same as border width */
		border-radius: inherit; /* inherit container box's radius */
		background: linear-gradient(to left, turquoise, greenyellow);
	}
    }
}
ul{
  list-style-type: none;
  width: 100%;
  overflow: hidden;
  position: fixed;
  background-color: greenyellow;
  padding: 10px 760px;
  top: 0;
  margin: 0;
  left: 0;
  font-family: 'Shadows Into Light';
  font-size: 25px;
}
li a{
  display: block;
  float: left;
  padding: 15px;
  color: magenta;
  
}
li a:hover{
  background-color: yellow;
  color: #ff5252;
}

a {
  
}
